header {
    background-color: #bbbbbb;
    padding: 20px 0;
}

#logo {
    width: 20%;
}

.caixa{
    width: 940px;
    position: relative;
    margin: 0;
}

nav {
    position: absolute;
    top: 100%;
    right: 0%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}
 
nav a:hover {
    color: aqua;
    font-size: 30px
}